<div id="adminNotifications" ng-controller="AdminNotifications">
	<panel-header>Notifications</panel-header>

	<panel-body no-scroll>
		<form name="notificationsForm" novalidate>
			<div class="formContainer">
				<label>SMTP Server Hostname</label>
				<input type="text" ng-model="smtp.hostname" name="smtpHostName" required>

				<label>SMTP Server Port</label>
				<input type="number" ng-model="smtp.port" name="smtpPort" min=1 max=65535 required>

				<label>Authentication Type</label>
				<select ng-model="smtp.authenticationType" required>
					<option value="plain">Plain</option>
					<option value="login">Login</option>
					<option value="cramMd5">CRAM-MD5</option>
				</select>

				<label ng-show="smtp.authenticationType != null">Username</label>
				<input type="text" ng-model="smtp.username" name="smtpUsername" ng-show="smtp.authenticationType != null">

				<label ng-show="smtp.authenticationType == 'plain' || smtp.authenticationType == 'login'">Password</label>
				<label ng-show="smtp.authenticationType == 'cramMd5'">Secret</label>
				<input type="password" placeholder="unchanged" ng-model="smtp.password" name="smtpPassword" ng-show="smtp.authenticationType != null">
			</div>

			<div class="formContainer">
				<label>HipChat Enabled</label>
				<input type="radio" ng-model="hipChat.enabled" name="hipChatEnabled" value="yes" required>Yes
				<input class="bufferLeft" type="radio" ng-model="hipChat.enabled" name="hipChatEnabled" value="no" required>No

				<label>Authentication Token</label>
				<input type="text" ng-model="hipChat.authenticationToken" ng-class="{disabled: hipChat.enabled != 'yes'}" name="hipChatToken" ng-disabled="hipChat.enabled != 'yes'" focused required>

				<label>Rooms</label>
				<input type="text" ng-model="hipChat.rooms" ng-class="{disabled: hipChat.enabled != 'yes'}" name="hipChatRooms" ng-disabled="hipChat.enabled != 'yes'" required>

				<label>Receive Notifications On</label>
				<input type="radio" ng-model="hipChat.notifyOn" name="hipChatType" value="all" ng-disabled="hipChat.enabled != 'yes'" required>All
				<input class="bufferLeft" type="radio" ng-model="hipChat.notifyOn" name="hipChatType" value="failed" ng-disabled="hipChat.enabled != 'yes'" required>Just Failed
			</div>

			<div class="bottomContanier">
				<div class="formDivider"></div>

				<busy-button centered busy="makingRequest" click="submit()" disabled="hipChat.enabled == 'yes' && notificationsForm.$invalid">Save Changes</busy-button>
			</div>
		</form>
	</panel-body>
</div>
