[submodule "chef/cookbooks/apt"]
	path = chef/cookbooks/apt
	url = http://github.com/opscode-cookbooks/apt
[submodule "chef/cookbooks/build-essential"]
	path = chef/cookbooks/build-essential
	url = http://github.com/opscode-cookbooks/build-essential
[submodule "chef/cookbooks/git"]
	path = chef/cookbooks/git
	url = http://github.com/opscode-cookbooks/git
[submodule "chef/cookbooks/vim"]
	path = chef/cookbooks/vim
	url = http://github.com/opscode-cookbooks/vim
[submodule "chef/cookbooks/varnish"]
	path = chef/cookbooks/varnish
	url = http://github.com/opscode-cookbooks/varnish
[submodule "chef/cookbooks/rabbitmq"]
	path = chef/cookbooks/rabbitmq
	url = http://github.com/opscode-cookbooks/rabbitmq
[submodule "chef/cookbooks/erlang"]
	path = chef/cookbooks/erlang
	url = http://github.com/opscode-cookbooks/erlang
[submodule "chef/cookbooks/golang"]
	path = chef/cookbooks/golang
	url = git@github.com:NOX73/chef-golang.git
[submodule "code/src/github.com/streadway/amqp"]
	path = code/src/github.com/streadway/amqp
	url = git@github.com:streadway/amqp.git
[submodule "code/src/github.com/crowdmob/goamz"]
	path = code/src/github.com/crowdmob/goamz
	url = git@github.com:crowdmob/goamz
[submodule "code/src/github.com/scale-it/go-log"]
	path = code/src/github.com/scale-it/go-log
	url = git@github.com:scale-it/go-log.git
[submodule "code/src/github.com/ugorji/go"]
	path = code/src/github.com/ugorji/go
	url = git@github.com:ugorji/go.git
