[submodule "chef/cookbooks/apt"]
	path = chef/cookbooks/apt
	url = http://github.com/opscode-cookbooks/apt
[submodule "chef/cookbooks/build-essential"]
	path = chef/cookbooks/build-essential
	url = http://github.com/opscode-cookbooks/build-essential
[submodule "chef/cookbooks/git"]
	path = chef/cookbooks/git
	url = http://github.com/opscode-cookbooks/git
[submodule "chef/cookbooks/vim"]
	path = chef/cookbooks/vim
	url = http://github.com/opscode-cookbooks/vim
[submodule "chef/cookbooks/rabbitmq"]
	path = chef/cookbooks/rabbitmq
	url = http://github.com/opscode-cookbooks/rabbitmq
[submodule "chef/cookbooks/erlang"]
	path = chef/cookbooks/erlang
	url = http://github.com/opscode-cookbooks/erlang
[submodule "code/back/src/github.com/crowdmob/goamz"]
	path = code/back/src/github.com/crowdmob/goamz
	url = git@github.com:crowdmob/goamz.git
[submodule "code/back/src/github.com/scale-it/go-log"]
	path = code/back/src/github.com/scale-it/go-log
	url = git@github.com:scale-it/go-log.git
[submodule "code/back/src/github.com/streadway/amqp"]
	path = code/back/src/github.com/streadway/amqp
	url = git@github.com:streadway/amqp.git
[submodule "chef/cookbooks/oh-my-zsh"]
	path = chef/cookbooks/oh-my-zsh
	url = git@github.com:KoalityCode/oh-my-zsh-chef.git
[submodule "chef/cookbooks/golang"]
	path = chef/cookbooks/golang
	url = git@github.com:KoalityCode/chef-golang.git
[submodule "code/back/src/github.com/dchest/goyaml"]
	path = code/back/src/github.com/dchest/goyaml
	url = git@github.com:dchest/goyaml.git
[submodule "code/back/src/github.com/vmihailenco/msgpack"]
	path = code/back/src/github.com/vmihailenco/msgpack
	url = git@github.com:vmihailenco/msgpack.git
[submodule "code/back/src/github.com/vmihailenco/bufio"]
	path = code/back/src/github.com/vmihailenco/bufio
	url = git@github.com:vmihailenco/bufio.git
[submodule "code/back/src/github.com/lib/pq"]
	path = code/back/src/github.com/lib/pq
	url = git@github.com:lib/pq.git
[submodule "code/back/src/github.com/gorilla/mux"]
	path = code/back/src/github.com/gorilla/mux
	url = git@github.com:gorilla/mux.git
[submodule "code/back/src/github.com/gorilla/context"]
	path = code/back/src/github.com/gorilla/context
	url = git@github.com:gorilla/context.git
[submodule "code/back/src/github.com/gorilla/sessions"]
	path = code/back/src/github.com/gorilla/sessions
	url = git@github.com:gorilla/sessions.git
[submodule "code/back/src/github.com/gorilla/securecookie"]
	path = code/back/src/github.com/gorilla/securecookie
	url = git@github.com:gorilla/securecookie.git
