[submodule "chef/cookbooks/apt"]
	path = chef/cookbooks/apt
	url = http://github.com/opscode-cookbooks/apt
[submodule "chef/cookbooks/build-essential"]
	path = chef/cookbooks/build-essential
	url = http://github.com/opscode-cookbooks/build-essential
[submodule "chef/cookbooks/git"]
	path = chef/cookbooks/git
	url = http://github.com/opscode-cookbooks/git
[submodule "chef/cookbooks/vim"]
	path = chef/cookbooks/vim
	url = http://github.com/opscode-cookbooks/vim
[submodule "chef/cookbooks/rabbitmq"]
	path = chef/cookbooks/rabbitmq
	url = http://github.com/opscode-cookbooks/rabbitmq
[submodule "chef/cookbooks/erlang"]
	path = chef/cookbooks/erlang
	url = http://github.com/opscode-cookbooks/erlang
[submodule "code/back/src/github.com/crowdmob/goamz"]
	path = code/back/src/github.com/crowdmob/goamz
	url = git@github.com:crowdmob/goamz.git
[submodule "code/back/src/github.com/scale-it/go-log"]
	path = code/back/src/github.com/scale-it/go-log
	url = git@github.com:scale-it/go-log.git
[submodule "code/back/src/github.com/streadway/amqp"]
	path = code/back/src/github.com/streadway/amqp
	url = git@github.com:streadway/amqp.git
[submodule "code/back/src/github.com/ugorji/go"]
	path = code/back/src/github.com/ugorji/go
	url = git@github.com:ugorji/go.git
[submodule "chef/cookbooks/nodejs"]
	path = chef/cookbooks/nodejs
	url = git@github.com:mdxp/nodejs-cookbook.git
[submodule "chef/cookbooks/oh-my-zsh"]
	path = chef/cookbooks/oh-my-zsh
	url = git@github.com:shingara/oh-my-zsh-chef.git
[submodule "code/back/src/github.com/soundcloud/goyaml"]
	path = code/back/src/github.com/soundcloud/goyaml
	url = git@github.com:soundcloud/goyaml.git
