<div id="repositoryStages" ng-controller="RepositoryStages">
	<builds-menu>
		<builds-menu-header>
			<div class="left">
				<span ng-show="selectedBuild.getInformation() != null">{{selectedBuild.getInformation().changeset.headSha | limitTo: 4 | lowercase}}</span>
			</div>

			<div class="right" ng-show="stagesManager.getStages().length > 0">
				<dropdown right light>
					<span ng-show="filter.type == 'all'">All</span>
					<span ng-show="filter.type == 'failed'">Failed</span>
					<div class="triangle down white"></div>
					<dropdown-options>
						<dropdown-option ng-click="filter.type = 'all'" ng-class="{disabled: filter.type == 'all'}">All</dropdown-option>
						<dropdown-option ng-click="filter.type = 'failed'" ng-class="{disabled: filter.type == 'failed'}">Failed</dropdown-option>
					</dropdown-options>
				</dropdown>
			</div>
		</builds-menu-header>

		<builds-menu-options>
			<builds-menu-option ng-show="selectedBuild.getInformation() != null && !stagesManager.isRetrievingStages()" ng-click="selectedStage.setSummary()" ng-class="{selected: selectedStage.isSummary(), green: selectedBuild.getInformation().aggregateStatus == 'passed', orange: selectedBuild.getInformation().aggregateStatus == 'skipped', red: selectedBuild.getInformation().aggregateStatus == 'failed'}">
				<span>summary</span>
			</builds-menu-option>

			<builds-menu-option ng-repeat="stage in stagesManager.getStages() | filter:shouldStageBeVisible | orderBy:[stageSort, 'name']" menu-option-spinning="{{stage.status == 'running'}}" ng-click="selectStage(stage)" ng-class="{selected: stage.id == selectedStage.getId(), green: stage.status == 'passed', red: stage.status == 'failed'}">
				<span>{{stage.name}}</span>
			</builds-menu-option>

			<builds-menu-option ng-show="selectedBuild.getInformation().aggregateStatus == 'skipped' && !stagesManager.isRetrievingStages()" ng-click="selectedStage.setSkipped()" ng-class="{selected: selectedStage.isSkipped(), orange: true}">
				<span>skipped</span>
			</builds-menu-option>

			<builds-menu-option menu-option-text="merge" ng-show="selectedBuild.getInformation().mergeStatus != null && !stagesManager.isRetrievingStages() && (filter.type != 'failed' || (filter.type == 'failed' && selectedBuild.getInformation().mergeStatus == 'failed'))" ng-click="selectedStage.setMerge()" ng-class="{selected: selectedStage.isMerge(), green: selectedBuild.getInformation().mergeStatus == 'passed', red: selectedBuild.getInformation().mergeStatus == 'failed'}">
				<span>merge</span>
			</builds-menu-option>

			<builds-menu-option ng-show="selectedBuild.getInformation().aggregateStatus == 'failed' && !stagesManager.isRetrievingStages() && stagesManager.getStages().length == 0" ng-click="selectedStage.setDebug()" ng-class="{selected: selectedStage.isDebug(), red: true}">
				<span>debug</span>
			</builds-menu-option>

			<builds-menu-empty-message ng-show="selectedBuild.getInformation().aggregateStatus == 'running' && filter.type == 'failed' && hasNoFailedStages()">This build is currently running. No stage has failed yet...</builds-menu-empty-message>

			<builds-menu-empty-message ng-show="selectedBuild.getInformation().aggregateStatus != 'running' && filter.type == 'failed' && hasNoFailedStages()">There are no failed stages</builds-menu-empty-message>
		</builds-menu-options>
	</builds-menu>
</div>
