<div id="admin">
	<panel>
		<panel-options>
			<panel-option selected="view == 'users'" ng-click="selectView('users')">Users</panel-option>
			<panel-option selected="view == 'repositories'" ng-click="selectView('repositories')">Repositories</panel-option>
			<panel-option selected="view == 'pools'" ng-click="selectView('pools')">Pools</panel-option>
			<panel-option selected="view == 'exporter'" ng-click="selectView('exporter')">Exporter</panel-option>
			<panel-option selected="view == 'website'" ng-click="selectView('website')">Website</panel-option>
			<panel-option selected="view == 'notifications'" ng-click="selectView('notifications')">Notifications</panel-option>
			<panel-option selected="view == 'gitHubEnterprise'" ng-click="selectView('gitHubEnterprise')">GitHub Enterprise</panel-option>
			<panel-option selected="view == 'api'" ng-click="selectView('api')">API</panel-option>
			<panel-option selected="view == 'plan'" ng-click="selectView('plan')">Plan</panel-option>
			<panel-option selected="view == 'upgrade'" ng-click="selectView('upgrade')">Upgrade</panel-option>
		</panel-options>

		<panel-header style="z-index: -1;"></panel-header>
		<panel-body style="z-index: -1;"></panel-body>

		<div ng-switch="view">
			<div ng-switch-when="users" ng-include="'html/admin/users/adminUsers.html'"></div>
			<div ng-switch-when="repositories" ng-include="'html/admin/repositories/adminRepositories.html'"></div>
			<div ng-switch-when="pools" ng-include="'html/admin/pools/adminPools.html'"></div>
			<div ng-switch-when="exporter" ng-include="'html/admin/exporter/adminExporter.html'"></div>
			<div ng-switch-when="website" ng-include="'html/admin/website/adminWebsite.html'"></div>
			<div ng-switch-when="notifications" ng-include="'html/admin/notifications/adminNotifications.html'"></div>
			<div ng-switch-when="gitHubEnterprise" ng-include="'html/admin/gitHubEnterprise/adminGitHubEnterprise.html'"></div>
			<div ng-switch-when="api" ng-include="'html/admin/api/adminApi.html'"></div>
			<div ng-switch-when="plan" ng-include="'html/admin/plan/adminPlan.html'"></div>
			<div ng-switch-when="upgrade" ng-include="'html/admin/upgrade/adminUpgrade.html'"></div>
		</div>
	</panel>
</div>
