<div id="adminExporter" ng-controller="AdminExporter">
	<panel-header>Exporter</panel-header>

	<panel-body no-scroll>
		<form name="exporterForm" novalidate>
			<div class="formContainer centered">
				<label>S3 Exporter Enabled</label>
				<input type="radio" ng-model="s3Exporter.enabled" name="s3ExporterEnabled" value="yes" required>Yes
				<input class="bufferLeft" type="radio" ng-model="s3Exporter.enabled" name="s3ExporterEnabled" value="no" required>No

				<label>AWS Access Key</label>
				<input type="text" ng-model="s3Exporter.accessKey" name="accessKey" ng-class="{disabled: s3Exporter.enabled == 'no'}" ng-disabled="s3Exporter.enabled == 'no'" focused>
				
				<label>Secret Key</label>
				<input type="text" ng-model="s3Exporter.secretKey" name="secretKey" ng-class="{disabled: s3Exporter.enabled == 'no'}" ng-disabled="s3Exporter.enabled == 'no'">

				<label>Bucket Name</label>
				<input type="text" ng-model="s3Exporter.bucketName" name="bucketName" ng-class="{disabled: s3Exporter.enabled == 'no'}" ng-disabled="s3Exporter.enabled == 'no'">
			</div>

			<div class="bottomContanier">
				<div class="formDivider"></div>

				<busy-button centered busy="makingRequest" click="submit()" disabled="exporterForm.$invalid">Save Changes</busy-button>
			</div>
		</form>
	</panel-body>
</div>
