<div id="dashboard">
	<panel>
		<panel-header>
			<div class="left">
				Dashboard
			</div>
			<div class="right">
				<div id="search" ng-class="{searchOn: search.mode == 'search'}">
					<div id="searchAll" ng-class="{selected: search.mode == 'all'}" ng-click="search.mode ='all'">All</div>
					<div id="searchMe" ng-class="{selected: search.mode == 'me'}" ng-click="search.mode ='me'">Me</div>
					<div id="searchQuery" ng-class="{selected: search.mode == 'search'}" ng-click="search.mode ='search'" input-focus-on-click>
						<div id="searchImageAndInputContainer">
							<img src="/img/icons/search.png">
							<input type="text" ng-model="search.query" placeholder="User">
						</div>
					</div>
				</div>
			</div>
		</panel-header>
		<panel-body>
			<div fading-content on-scroll-to-bottom="buildsManager.retrieveMoreBuilds()">
				<table class="delineated">
					<tr>
						<th class="statusColumn">Status</th>
						<th class="repositoryColumn">Repository</th>
						<th class="branchColumn">Branch</th>
						<th class="shaColumn">Sha</th>
						<th class="commitMessageColumn">Commit Message</th>
						<th class="userColumn">User</th>
						<th class="timeColumn">Submit Time</th>
					</tr>

					<tr ng-repeat="build in buildsManager.getBuilds() | orderBy:'created':true">
						<td class="statusColumn gray" ng-class="{green: build.status == 'passed', orange: build.status == 'skipped', red: build.status == 'failed'}">
							{{build.status}}
						</td>

						<td class="repositoryColumn">
							{{build.repository.name}}
						</td>

						<td class="branchColumn">
							{{build.ref}}
						</td>

						<td class="shaColumn">
							<a ng-href="/repository/{{build.repositoryId}}?build={{build.id}}">
								{{build.changeset.headSha | limitTo:12 | lowercase}}
							</a>
						</td>

						<td class="commitMessageColumn">
							{{build.changeset.headMessage | onlyFirstLine}}
						</td>

						<td class="userColumn">
							<a ng-href="mailto:{{build.changeset.headEmail}}?subject=Koality%3A%20{{build.repository.name}}%20-%20build%20%23{{build.changeset.headSha | limitTo:4}}" target="_blank">
								{{build.changeset.headUsername}}
							</a>
						</td>

						<td class="timeColumn">
							{{build.created | date:'MM/dd hh:mm:ss a'}}
						</td>
					</tr>

					<tr ng-if="buildsManager.isRetrievingBuilds()">
						<td class="retrievingMoreColumn" colspan="6">
							<div class="retrievingMoreMessage">
								<spinner id="retrievingMoreSpinner" running="buildsManager.isRetrievingBuilds()"></spinner>
								<span>Retrieving more builds...</span>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</panel-body>
	</panel>
</div>
